:root{
    --softRed: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --darkDesaturatedCyanGraphicDesignText: hsl(167, 40%, 24%);
    --darkBluePhotographyText: hsl(198, 62%, 26%);
    --darkModerateCyanFooter: hsl(168, 74%, 74%);
    --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
    --veryDarkGrayishBlue: hsl(213, 9%, 39%);
    --darkGrayishBlue: hsl(232, 10%, 55%);
    --grayishBlue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Barlow', sans-serif;
    
    }

main{
    width: 100%;
}    

header{
    background-image: url('./images/mobile/image-header.jpg');
    background-position:center;
    background-size:cover;
    padding: 30px 20px;
    height: 505px;
    
}

.links{
    display: flex;
    justify-content: space-between;
    
    }

.nav{
    display: none;
}

header h1{
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-size: 40px;
    font-weight: 900;
    color: var(--white);
    text-align: center;
    margin: 60px auto 50px;
    display: none;    
}

.creatives{
    display: block;
}

.arrow{
    display: none;
    margin: auto;
     }

.arrowVisible{
    display: block;
}     

.menu ul{
    display: block;
}

.menu{
    position: absolute;
	top: calc(15% + 3rem);
	left: 20px;
	width: 90%;
	background: white;
	padding: 2rem 2rem 2.5rem;
	text-align: center;
	box-shadow: 0 5px 10px rgba(0 0 0 / 0.25);	
	transition: transform 200ms;
	pointer-events: none;
	transform-origin: top;
    line-height: 4;    
}

.menu::before {
	content: "";
	position: absolute;
	display: block;
	top: -29px;
	right: 0;
	width: 30px;
	height: 30px;
	background: var(--white);
	clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }

.menuContact{
    background-color: var(--yellow);
    border-radius: 30px;    
    max-width: 50%;
    margin: auto;
    height: 60px;
    text-transform: uppercase;
} 

.menuVisible{
    display: none;
}

.area h1{
   padding: 30px 30px 0;
   font-family: 'Fraunces', serif;
   font-size: 35px;
   font-weight: 900;
   margin: 0 auto;
   text-align: center;
}

.area p{    
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    line-height: 1.5;
 }

 
.area img{
    width: 100%;
}

.details{
    color: var(--darkGrayishBlue);
    font-weight: 900;
    padding: 20px 30px;
}

.more{
    text-transform: uppercase;
    height: 0px;
    font-family: 'Fraunces', serif;
    color: black;
    padding: 20px 30px 8px;
}

hr{
    width: 150px;
    margin: 5px auto 70px;
    border: none;
    border-radius: 5px;
    height: 10px;    
    opacity: 0.3;
    cursor: pointer;
}

.transform{
   background-color: var(--yellow); 
}

.stand{
    background-color: var(--softRed);
}

.graphic{
    background-image: url('./images/mobile/image-graphic-design.jpg');
    background-position: top;
    background-size: cover;
    color: var(--darkDesaturatedCyanGraphicDesignText);
    font-family: 'Fraunces', serif;
    text-align: center;
    
}

.graphic h1{
    padding: 400px 0 0;       
    font-weight: 900;    
}

.graphic p{
    padding: 20px 20px 60px;
    line-height: 1.5;
    font-weight: 700; 
    margin: 0 auto;
}

.photo{
    background-image: url('./images/mobile/image-photography.jpg');
    background-position: top;
    background-size: cover;
    color: var(--darkBluePhotographyText);
    font-family: 'Fraunces', serif ;
    text-align: center;
    }

.photo h1{
    padding: 400px 0 0;
    font-weight: 900;
    margin: 0 auto;
}

.photo p{
    padding: 20px 20px 60px;
    line-height: 1.5;
    font-weight: 700;
}

.testimonials{
    text-align: center;
    padding: 20px;
    font-family: 'Fraunces', serif ;
    background-color: var(--white);
}

.testimonials h1{
    text-transform: uppercase;
    color: var(--grayishBlue);    
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 5px;
    padding: 20px 20px 40px;
}

.testimonials img{
    border-radius: 50px;
    width: 80px;
    height: 80px;
    margin: 40px auto 0;
}

.testi{
    font-size: 17px;
    line-height: 1.8;
    color: var(--veryDarkGrayishBlue);
    padding: 20px;
}

.name{
    color: black;
    font-size: 20px;
    font-weight: 900;
    margin: 0 auto;
}

.charge{
    color: var(--grayishBlue);
    margin: 10px auto 20px;
    font-size: 14px;
    font-weight: 600;
}

.products{
    display: flex;
    flex-wrap: wrap;
    }

.products img{
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
}

footer{
    background-color: var(--darkModerateCyanFooter);
    }

.logoFooter{
    display: block;
    margin: auto;
    width: 80%;
    height: 80%;
    font-weight: 900;
    padding: 40px 40px 30px;
}

ul{
    
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.social{
    display: flex;
    justify-content: space-around;
    padding: 80px;
    color: var(--darkDesaturatedCyanGraphicDesignText);
}

.icono:hover{
    color: var(--white);
    cursor: pointer;
}

@media(min-width:700px){
    header{
        background-image: url('./images/desktop/image-header.jpg');
        background-position: center;
        background-size: cover;
    }

    .hamburger{
        display: none;
    }

    .nav{
        display: block;
    }

    li{
        color: var(--white);
        padding: 8px 15px;
        font-size: 11px;
    }

    .contact{
        color: black;
        text-transform: uppercase;
        background-color: var(--white);
        border-radius: 20px;
        font-family: 'Fraunces', serif;
        font-weight: 900;
        font-size: 10px;
    }

    .contact:hover{
        background-color: rgb(44, 186, 241);
        color: var(--white);
    }

    li:hover{
        color: black;
        text-transform: uppercase;
        background-color: var(--white);
        border-radius: 20px;
        font-family: 'Fraunces', serif;
        font-weight: 900;
        font-size: 10px;
        cursor: pointer;
    }

    .menu{
        display: none;
    }
    
    .area{
        display: flex;
        align-items: center;
    }

    .reverse{
        flex-direction: row-reverse;
    }

    .area h1{
        font-size: 20px;
        width: 50%;
    }

    .area p{
        font-size: 10px;
        width: 70%;
    }

    .area img{
        width: 50%;
    }

    hr{
        margin: 0 auto;
    }

    .graphic h1{
        margin: 0 auto;
        font-size: 16px;
            }

    .graphic p{
        font-size: 10px;
        width: 60%;
    }        

    .graphic{
        background-image: url('./images/desktop/image-graphic-design.jpg');
        width: 50%;
    }        

    .photo{
        width: 50%; 
        background-image: url('./images/desktop/image-photography.jpg');       
    }

    .photo h1{
        font-size: 16px;
    }

    .photo p{
        font-size: 10px;
        width: 60%;
        margin: auto;
    }

    .design{
        display: flex;
    }

    .people{
        display: flex;
    }

    .testimonials{
        padding: 20px 20px 50px;
    }

    .testimonials h1{
        padding: 40px 20px 10px;
        font-size: 14px;
    }

    .testimonials img{
        margin: 20px auto 0;
        width: 40px;
        height: 40px;
    }

    .testi{
        font-size: 10px;
    }

    .name{
        font-size: 10px;
    }

    .charge{
        font-size: 10px;
    }

    .products img{
        width: 25%;
        height: 25%;
    }

    .logoFooter{
        width: 22%;
        height: 22%;
    }

    ul{
        width: 40%;
    }

    .listFooter li{
        color: var(--darkDesaturatedCyanGraphicDesignText);
    }

    .social{
        width: 30%;
        margin: auto;
    }

    .social img{
        width: 10px;
        height: 10px;
    }
}